<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Coffee.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Coffee.Properties.Settings>
            <setting name="last" serializeAs="String">
                <value>https://yokochayokoha.github.io/CoffeeSub</value>
            </setting>
            <setting name="lasttitle" serializeAs="String">
                <value>横茶横葉のサイト</value>
            </setting>
            <setting name="autoua" serializeAs="String">
                <value>0</value>
            </setting>
        </Coffee.Properties.Settings>
    </userSettings>
</configuration>